<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="name">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
  <div class="field">
    <%= f.label :cerevis %><br />
    <%= f.text_field :cerevis %>
  </div>
    <% if current_user.root? || (current_user.verbindung_id == @user.verbindung_id && current_user.admin?) %>
        <div>
          <%= f.label :admin %>
          <%= f.check_box :admin%>
        </div>
    <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
