<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p>
  <b>Name:</b>
  <%= @user.name %>
</p>
<p>
  <b>Cerevis:</b>
  <%= @user.cerevis %>
</p>
<div>
  <b>Verbindung:</b>
    <%= render @user.verbindung %>
</div>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
