<p>
  <b>Content:</b>
  <%= @news.content %>
</p>

<p>
  <b>Title:</b>
  <%= @news.title %>
</p>

<p>
  <b>Date:</b>
  <%= @news.date %>
</p>


<%= link_to 'Edit', edit_verbindung_news_path(@news) %> |
<%= link_to 'Back', verbindung_news_index_path %>
